html {background-color: #eee;}

body { font-size: 180%;

      padding-top: 5%;

      max-width: 780px !important;
      padding-bottom: 2em;
      
      
     }

#b02.bubbles, #b03.bubbles, #b04.bubbles,#b05.bubbles,#b06.bubbles,#b08.bubbles,#b09.bubbles,#b10.bubbles,#b11.bubbles,#b12.bubbles  {
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    width: 65%;
    max-width: 450px;
    display: flex;
    margin-bottom: -280px;
}

#b02 {

    background-image: url('img/sotc-bubbles-02.svg');
    height: 300px;    
    
}


#b03 {

    background-image: url('img/sotc-bubbles-03.svg');
    height: 300px;    
    
}


#b04 {

    background-image: url('img/sotc-bubbles-04.svg');
    height: 300px;    
    
}


#b05 {

    background-image: url('img/sotc-bubbles-05.svg');
    height: 300px;    
    
}


#b06 {

    background-image: url('img/sotc-bubbles-06.svg');
    height: 300px;    
    
}


#b08 {

    background-image: url('img/sotc-bubbles-08.svg');
    height: 300px;    
    
}


#b09 {

    background-image: url('img/sotc-bubbles-09.svg');
    height: 300px;    
    
}


#b10 {

    background-image: url('img/sotc-bubbles-10.svg');
    height: 300px;    
    
}


#b11 {

    background-image: url('img/sotc-bubbles-11.svg');
    height: 300px;    
    
}


#b12 {

    background-image: url('img/sotc-bubbles-12.svg');
    height: 300px;    
    
}






#cc-sotc-2015-xx02 #img-placeholder{
    background-image: url('img/bubbles-xx02.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 65%;
    height: 300px;
    max-width: 650px;

}


#cc-sotc-2015-xx03 #img-placeholder{
    background-image: url('img/bubbles-xx03.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 65%;
    height: 300px;
    max-width: 650px;

}


#cc-sotc-2015-xx01 #img-placeholder{
    background-image: url('img/bubbles.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 65%;
    height: 300px;
    max-width: 450px;

}


* {
    font-family: Lato, Arial, serif !important; 
    font-weight: 300;
    color: #000100;
}

h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}

h2 {    
	font-weight: 300 !important;
	font-size: 260%;
	background-color: rgba(255,255,0,0.8);
	padding-left: 5%;
	padding-right: 15%;
}

h2.impact {background-color: rgba(0, 204, 204, 0.75)}

h2:first-of-type {

	padding-top: 5%;
	padding-bottom: 5%;
   
}

h3 {    
	font-weight: 300 !important;
	font-size: 230%;
	background-color: rgba(0, 204, 204, 0.75);
	padding-left: 5%;
	padding-top: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	word-wrap:break-word;

}

.zomg {
    background-color: rgba(0, 204, 204, 0.75);
}

.by {

    background-color: transparent !important;
    background-image: url(img/yellow.svg);
    background-repeat: no-repeat;
    background-position: left top !important;
    padding: 0;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 2%;
    min-height: 85px;
    line-height: 80px;

}

.by-r {

    text-align: right;
    background-position: right top !important;
    padding-right: 30px !important;
    margin-right: 5% !important;
    margin-left: 5% !important;
    
}

h4 {    
	font-weight: 700 !important;
	font-size: 140%;
	line-height: 180%;
	background-color: rgba(0,204,204,0.2);
	padding-left: 5%;
	word-wrap:break-word;

}


h6 {font-size: 140%; font-weight: 300 !important; line-height: 150% !important; margin-bottom: 2em;}





p, ul, ol {padding-left: 5%; padding-right: 5%; margin-top: 1em; font-size: 110%; }


table {width: 90% !important; max-width: 760px !important; height: auto !important; margin-left: 5%; margin-right: 5%; margin-bottom: 1.5em !important; margin-top: 1em;}

.sotc-image {width: 100%; max-width: 760px; height: auto !important;}

.img-policy {
    background-image: url(img/policy.svg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    min-height: 80px;
}

.img-frame {
    background-image: url(img/frame.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    min-height: 100px;
    padding-right: 120px;
    padding-top: 30px;
    font-size: 120% !important;
}

.img-pdmoon {
    background-image: url(img/pdmoon.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 180px 180px;
    min-height: 180px;
    padding-right: 180px;
    padding-top: 30px;

}

.img-bk {
    background-image: url(img/bk.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 180px 297px;
    min-height: 180px;
    padding-right: 200px;
    padding-top: 30px;

}

blockquote {

    border: 0;
    margin: 1em auto;
    line-height: 1.5em;
    background: #dff0d8;
    text-align: center;
    width: 90%;
    
    
}

blockquote * {

    margin: 0;
    padding: 0;
    font-weight: 700 !important;
    font-size: 110%;
    max-width: 100%;

}

#regional-mideast {

    background-color: transparent;
    border-left: solid #00cccc 20px;

}


#regional-africa {

    background-color: transparent;
    border-left: solid #663399 20px;

}


#regional-europe {

    background-color: transparent;
    border-left: solid #ffcc00 20px;

}


#regional-asia {

    background-color: transparent;
    border-left: solid #009900 20px;

}


#regional-northamerica {

    background-color: transparent;
    border-left: solid #cc9966 20px;

}

#regional-latinamerica {

    background-color: transparent;
    border-left: solid #99cc00 20px;

}


#regional-highlights {

    background-image: url(img/bg-map.png);
    background-position: top center;
    background-repeat: no-repeat;
    

}

#regional-highlights h3 {

    padding-left: 5%;

}

.bb {

    background-color: #00cccc;
    text-transform: uppercase;
    margin-top: 5%;
    display: none;
}

.bbs {

    background-color: #00cccc;
    text-transform: uppercase;
    margin-top: 5%;
}


#foundations img {


    padding: 10px;
    display: inline;
    max-width: 80%;
    height: auto;

}

#foundations {

    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;

}


.social-share { text-align:center; font-size: 90%; padding: 0; margin: 0; }
.social-share ul.nav-pills { display:inline-block; }
.social-share li { display:inline; }
.social-share a { float:left; }

#invest-circle a {

    color: #111 !important;
    
}

#invest-circle ul, #social-circle ul {

    list-style: none !important;
    
}

#invest-circle h5, #social-circle h5 {

    font-size: 140%;
    
}

#invest-circle .content {

    background: rgba(103, 50, 152, 0.32);
    border: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    min-height: 16em;
}


#social-circle .content {
    background: rgba(00, 205, 205, 0.32);
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    min-height: 16em;
}


.sotc-fakeheader {
    margin: 0 !important;
    padding: 0 !important;

    
}

#hits-bg {

    max-width: 100%;
    overflow: hidden;
    background-image: url(img/hits.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid red;

}

@media only screen 
  and (max-device-width: 480px) {

    h2, h3, h4, h5, h6 {font-size: 110%; line-height: 130%;}


}

.odd {background-color: rgba(0,204,204,0.2) !important;}
.even {background-color: white !important;}

footer ul {list-style: none; margin: 0; padding: 0;}

.content ul > li > ul {font-size: 90%; margin: 0.5em 0; padding: 0; }

#deed-donate-footer{ background-color:#424242;
    -webkit-border-radius:5px; -moz-border-radius:5px;
    border-radius:5px; width:768px; padding:10px 0; color:#333;
    margin:20px auto; }

.footer-trigger{ background-color:#fff; width:710px; margin:0 auto;
    padding:20px; }

.footer-logo{ float:left; margin-right:20px; }

.footer-trigger p{ text-align:left; margin:0; }

.footer-trigger button{ background:rgba(152,182,0,.8);
 display:inline-block; text-align:center; padding:.5em 1em; border:0;
 -webkit-border-radius:5px 5px 5px 5px; border-radius:5px 5px 5px 5px;
 -webkit-box-shadow:inset 2px 2px 6px 0 rgba(0,0,0,.2);
 box-shadow:inset 2px 2px 6px 0 rgba(0,0,0,.2); font-size:20px;
 color:#fff; font-weight:bold; margin:15px 0 0; text-decoration:none;
 cursor:pointer; -webkit-transition:all .3s ease-in-out;
 -moz-transition:all .3s ease-in-out; -ms-transition:all .3s
 ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s
 ease-in-out; }

.footer-trigger button:hover{background:rgba(152,182,0,1);}

@media screen and (max-width: 788px) { #deed-donate-footer{ width:90%;
 padding:0; background-color:#fff; }

.footer-trigger{ width:90%; padding:20px 5%; background:none; }


 }

@media screen and (max-width: 600px) {.footer-logo{display:none;}

}

.js #deed-donate-slide{display:none;}

.js #deed-donate-slide.reveal{display:block;}

#deed-donate-slide{width:90%;margin:0
 auto;line-height:17px;text-align:center;color:#fff;}

#deed-donate-slide.slider{ width:350px; margin:0 auto 0 -350px;
    position:fixed; left:0; bottom:15px; z-index:1000; display:table;
    -moz-box-shadow:1px 2px 6px rgba(0,0,0,.3); -webkit-box-shadow:1px
    2px 6px rgba(0,0,0,.3); box-shadow:1px 2px 6px rgba(0,0,0,.3);
    -webkit-transition:margin .3s ease-in-out; -moz-transition:margin
    .3s ease-in-out; -o-transition:margin .3s ease-in-out;
    -ms-transition:margin .3s ease-in-out; transition:margin .3s
    ease-in-out; }

#deed-donate-slide.slider.reveal{margin-left:0;}

.slide-close{ background:url('https://creativecommons.org/images/deed/slide-close.png')
    no-repeat center center; width:16px; height:17px; display:block;
    cursor:pointer; position:absolute; right:5px; top:5px; opacity:.6;
    text-indent:-99999px; z-index:999; }

.slide-close:hover{opacity:1;}

.slide-tab{ display:none; }

.fundie {
    display:block;
    background-color:#b99bd6;
    padding:15px;
}

.fundie a{
    display: block; 
    color: #111 !important;
    background-image: url(img/heart.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 110px;
    text-decoration: none !important;
}

.fundie a:hover {color: #333 !important;}


.slide-trigger{display:block;background-color:#b99bd6;padding:15px;-webkit-transition:all
 .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all
 .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s
 ease-in-out;}

.slide-trigger p{margin:0;font-weight:300;cursor:pointer; line-height: 1.5em;}

.slide-trigger
 button{background:rgba(70,34,18,.3);display:inline-block;padding:.5em
 1em;border:0;-webkit-border-radius:5px 5px 5px 5px;border-radius:5px
 5px 5px 5px;-webkit-box-shadow:inset 2px 2px 6px 0
 rgba(0,0,0,.2);box-shadow:inset 2px 2px 6px 0
 rgba(0,0,0,.2);color:#fff;font-size:20px;margin:15px 0
 0;text-decoration:none;cursor:pointer;-webkit-transition:all .3s
 ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all
 .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s
 ease-in-out;}

.slide-trigger button:hover{background:rgba(70,34,18,.6);}

@media screen and (max-width: 1220px)
 {#deed-donate-slide.slider{width:200px;margin:0 auto 0 -230px;}

}

@media screen and (max-width: 1120px) { #deed-donate-slide.slider{
 width:170px; margin:0 auto 0 -200px; }

.slide-trigger button{ font-size:18px; }


 }

@media screen and (max-width: 1060px) { #deed-donate-slide.slider{
 z-index:100; position:fixed; left:0; bottom:-100%; width:100%;
 margin:0; text-align:center; -webkit-transition:bottom .5s
 ease-in-out; -moz-transition:bottom .5s ease-in-out;
 -o-transition:bottom .5s ease-in-out; -ms-transition:bottom .5s
 ease-in-out; transition:bottom .5s ease-in-out; }

     #deed-donate-slide.reveal{ bottom:0; }

     .slide-close{
	 background:url('https://creativecommons.org/images/deed/slide-close-mobile.png')
	 no-repeat center center; width:33px; height:33px;
	 top:initial; bottom:5px; right:5px; opacity:.8; }

     .slide-trigger{ padding:10px; }

     img.slide-logo{ display:none; }

     .slide-trigger button{ margin:5px 0 0; }

     .fundie a{background: transparent; margin: 0; padding: 0;}

     .social-share {display: none;}
     
 }


